html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  min-height:100vh;
  display:flex;
  flex-direction:column;
}
footer{
    margin-top:auto;
}
.ui-autocomplete {
    background-color: white;
    width: 20%;
    border: 1px solid #ced4da;
    list-style: none;
    z-index: 10;
    padding: 0px
}

.ui-menu-item-wrapper {
    font-size: 16px;
    padding: 5px;
}

/*.ui-menu-item {
    background-color: green !important;
    color: white;
    border-color: green !important;
}*/
.ui-menu-item-wrapper.ui-state-active:hover {
    background-color: lightgray !important;
    color: black;
    border-color: green !important;
}
.ui-helper-hidden-accessible
{
    display:none!important;
}