@*@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - search</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <section class="p-2">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Search</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                <section class="search-users col-10 mt-3">
                    <div class="row col-7">
                        <form class="form-group d-flex" method="post" asp-controller="Search">
                            <input type="text" class="form-control" id="search-user" placeholder="Search user" />
                            @*<button type="submit">Search</button>*@
                        </form>
                    </div>
                </section>
                    <div class="col-10 user-detail">
                    </div>
            </main>
        </div>

    </section>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 -  - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/jquery-ui/jquery-ui.min.js"></script>
</html>
<script>
    //#region call once when the page is loaded and save to localstorage rather than calling every time when user type
    $(function () {
        var currentURL = document.URL;
        $.ajax({
            type: "GET",
            url: '@Url.Action("Index", "Search")',
            contentType: "application/json; charset=utf-8",
            data: { key: "Hello" },
            dataType: "json",
            success: function (response) {
                let users = JSON.parse(localStorage.getItem("users"));
                if (response != "" && response.length > 0 && response.length != users || JSON.stringify(response) != JSON.stringify(users)) {
                    localStorage.setItem("users", JSON.stringify(response))
                }
                else if (response != "" && response.length > 0) {
                    localStorage.setItem("users", JSON.stringify(response))
                }
            },
            error: function () {
                var res = recData;
                alert("Error occured while loading passenger");
            }
        });
    });
    //#endregion
    //#region suggestion(autocomplete)
    $('body').on('focus', '#search-user', function () {
        let aaa = [];
        var users = JSON.parse(localStorage.getItem("users"));
        var userss = [...users];
        let currentValue = $(this).val();
        aaa = userss.map(_ => _.title);
        let ids = 1;
        var uid = (this).id;
        debugger;
        $("#search-user").autocomplete({
            maxResults: 20,
            minLength: 0,
            source: function (request, response) {
                var results = $.ui.autocomplete.filter(aaa, request.term);
                response(results.slice(0, this.options.maxResults));
            }
        });
        $(document).on("click", "#search-user", function () {
            $(this).select();
        });
    })
    //#endregion
    //#region retrieve user data

    $('body').on('change', '#search-user', function () {
        debugger;
        let currentValue = $(this).val();
        let aaa = [];
        var users = JSON.parse(localStorage.getItem("users"));
        var userss = [...users];
        var user = users.find(({ name }) => name === currentValue)
        $(".user-detail").append(`<p class="p-1">${user.id}></p>` +
            `<p class="p-1">${user.title}</p>` +
            `<p class="p-1">${user.body}</p>`
        );
    })
            //#endregion
</script>